@{
    ViewData["Title"] = "Media Contact";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/media-contact.css" asp-append-version="true" />
}

<!-- HERO -->
<section class="mc-hero">
  <img src="https://www.baicglobal.com/_nuxt/banner.XLCYn2I7.avif" alt="Media Contact">
  <div class="mc-hero-overlay"></div>
  <div class="mc-hero-content">
    <h1 data-i18n="mediaContact.heroHeading">Media Contact</h1>
    <p data-i18n="mediaContact.heroText">Thank you for your support to BAIC, &nbsp; <br>Please leave your contact information and questions, we will arrange professionals to contact you</p>
  </div>
</section>

<!-- FORM -->
<div class="mc-form">

  <div class="mc-row">
    <div class="mc-field full">
      <label data-i18n="mediaContact.gender">Gender</label>
      <select>
        <option value="" disabled selected></option>
        <option data-i18n="mediaContact.mr">Mr</option>
        <option data-i18n="mediaContact.miss">Miss</option>
        <option data-i18n="mediaContact.ms">Ms</option>
        <option data-i18n="mediaContact.dr">Dr</option>
        <option data-i18n="mediaContact.others">others</option>
      </select>
    </div>
  </div>

  <div class="mc-row">
    <div class="mc-field">
      <label data-i18n="mediaContact.firstName">First Name</label>
      <input type="text" data-i18n="mediaContact.firstName">
    </div>
    <div class="mc-field">
      <label data-i18n="mediaContact.lastName">Last Name</label>
      <input type="text" data-i18n="mediaContact.lastName">
    </div>
  </div>

  <div class="mc-row">
    <div class="mc-field">
      <label data-i18n="mediaContact.mediaName">Media Name</label>
      <input type="text" data-i18n="mediaContact.mediaName">
    </div>
    <div class="mc-field">
      <label data-i18n="mediaContact.email">E-mail</label>
      <input type="email" data-i18n="mediaContact.email">
    </div>
  </div>

  <div class="mc-field full">
    <label data-i18n="mediaContact.message">Message</label>
    <textarea data-i18n="mediaContact.message"></textarea>
  </div>

  <p class="mc-note" data-i18n="mediaContact.note">After we receive your information, the person in charge of brand public relations will contact you as soon as possible.</p>

  <button class="mc-submit" data-i18n="mediaContact.send">SEND</button>
</div>

@section Scripts {
}
