@{
    ViewData["Title"] = "News Release";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/news-release.css" asp-append-version="true" />
}

<!-- HERO -->
<div class="nr-hero">
  <img src="https://www.baicglobal.com/file/common/image/2025/09/30/blob_20250930164420A033.avif" alt="News">
  <div class="nr-hero-overlay"></div>
</div>

<!-- BREADCRUMB + TITLE -->
<div class="nr-head">
  <div class="nr-bread"><a href="#">Home</a>/<a href="#">Newsroom</a> / News Release/</div>
  <h1>News Release</h1>
</div>

<!-- FEATURED NEWS (6 cards, 2-column grid) -->
<div class="nr-featured">
  <div class="nr-featured-grid">

    <a class="nr-fcard" href="#">
      <div class="nr-fcard-img"><img src="https://www.baicglobal.com/file/common/image/2026/02/10/pc_20260210102408A091.avif" alt=""></div>
      <div class="nr-fcard-body">
        <div class="nr-fcard-date">2009-02-09</div>
        <h3>BAIC ARCFOX 77° Concept Car Wins 2025 Red Dot Design Award</h3>
        <p>The 2025 Red Dot Award winners have been officially announced, with the BAIC ARCFOX 77° concept car earning the Red Dot Design Award.</p>
        <span class="read-more">Read More</span>
      </div>
    </a>

    <a class="nr-fcard" href="#">
      <div class="nr-fcard-img"><img src="https://www.baicglobal.com/file/common/image/2025/12/19/PC(1)_20251219121130A126.png" alt=""></div>
      <div class="nr-fcard-body">
        <div class="nr-fcard-date">2025-12-19</div>
        <h3>Safety as Foundation, Innovation as Direction: BAIC's Journey in Building a Comprehensive Safety Assurance System for Intelligent Connected Vehicles</h3>
        <p>On December 15, the ARCFOX Alpha S (L3 Edition) from BAIC Group officially received product access approval from the Ministry of Industry and Information Technology of the People's Republic of China for autonomous driving vehicles, and will soon commence L3 conditional automated driving pilot operations in designated areas of Beijing.</p>
        <span class="read-more">Read More</span>
      </div>
    </a>

    <a class="nr-fcard" href="#">
      <div class="nr-fcard-img"><img src="https://www.baicglobal.com/file/common/image/2025/11/29/微信图片_20251129210248_827_35_20251129210347A088.jpg" alt=""></div>
      <div class="nr-fcard-body">
        <div class="nr-fcard-date">2025-11-28</div>
        <h3>BAIC GLOBAL DISTRIBUTORS BUSINESS CONFERENCE OPENS, THREE MAJOR BRANDS JOINTLY EMBARK ON A NEW STAGE OF GLOBAL DEVELOPMENT</h3>
        <p>The 2025 BAIC Global Distributors Business Conference, themed "TO NEW VISTAS", was held today in Guangzhou.</p>
        <span class="read-more">Read More</span>
      </div>
    </a>

    <a class="nr-fcard" href="#">
      <div class="nr-fcard-img"><img src="https://www.baicglobal.com/file/common/image/2025/11/05/1_20251105142544A059.jpg" alt=""></div>
      <div class="nr-fcard-body">
        <div class="nr-fcard-date">2025-11-07</div>
        <h3>BAIC Selected as One of Beijing's Top Ten ESG Cases Among Municipal State-Owned Enterprises</h3>
        <p>To promote regional coordinated development and showcase the ESG achievements of state-owned enterprises in the Beijing-Tianjin-Hebei region, the "ESG China · Beijing-Tianjin-Hebei State-Owned Enterprise Social Responsibility Release Conference," co-hosted by the State-owned Assets Supervision and Administration Commissions (SASAC) of the three regions, was held in Tianjin on September 29.</p>
        <span class="read-more">Read More</span>
      </div>
    </a>

    <a class="nr-fcard" href="#">
      <div class="nr-fcard-img"><img src="https://www.baicglobal.com/file/common/image/2025/11/05/2_20251105161813A099.jpg" alt=""></div>
      <div class="nr-fcard-body">
        <div class="nr-fcard-date">2025-11-07</div>
        <h3>No. 1! STELATO S9 Earns Authoritative Certification, Showcasing Technical Prowess</h3>
        <p>Recently, the China Society of Automotive Engineers and the China Industry Innovation Alliance for the Intelligent and Connected Vehicles released an evaluation report based on the standard T/CSAE 322 - 2023 "Test and Evaluation Methods for Intelligentization Level of Automotive Intelligent Cockpits."</p>
        <span class="read-more">Read More</span>
      </div>
    </a>

    <a class="nr-fcard" href="#">
      <div class="nr-fcard-img"><img src="https://www.baicglobal.com/file/common/image/2025/05/06/1_20250506144007A152.png" alt=""></div>
      <div class="nr-fcard-body">
        <div class="nr-fcard-date">2025-05-06</div>
        <h3>ARCFOX ALPHA T5 WINS 2025 iF DESIGN AWARD</h3>
        <p>ARCFOX Alpha T5, the pure electric SUV from BAIC GROUP, has been awarded the prestigious 2025 iF DESIGN AWARD standing out among nearly 11,000 entries from 66 countries.</p>
        <span class="read-more">Read More</span>
      </div>
    </a>

  </div>
</div>

<!-- OTHER NEWS -->
<div class="nr-other">
  <h2>Other News</h2>

  <a class="nr-ocard" href="#">
    <div class="nr-ocard-img"><img src="https://www.baicglobal.com/file/common/image/2025/06/26/20_20250626155147A029.jpg" alt=""></div>
    <div class="nr-ocard-body">
      <h3>Big BAIC Figures: Meet BAIC Design Team</h3>
      <p>Two months ago, Shanghai Auto Show, where BAIC made a major debut with the ARCFOX 77° concept vehicle, drawing significant attention from both domestic and international visitors.</p>
      <div class="nr-ocard-meta"><span class="nr-ocard-date">2025-06-26</span><span class="read-more">Read More</span></div>
    </div>
  </a>

  <a class="nr-ocard" href="#">
    <div class="nr-ocard-img"><img src="https://www.baicglobal.com/file/common/image/2025/06/19/YFYJ0724-opq3719831032_20250616163953A434.jpg" alt=""></div>
    <div class="nr-ocard-body">
      <h3>2025 International Automotive &amp; Supply Chain Expo (Hong Kong) Kicks Off: BAIC Group Showcases New Heights of Chinese Intelligent Manufacturing</h3>
      <p>On June 12, the 2025 International Automotive &amp; Supply Chain Expo (Hong Kong), themed "New Car·New Journey," officially opened at the AsiaWorld-Expo.</p>
      <div class="nr-ocard-meta"><span class="nr-ocard-date">2025-06-19</span><span class="read-more">Read More</span></div>
    </div>
  </a>

  <a class="nr-ocard" href="#">
    <div class="nr-ocard-img"><img src="https://www.baicglobal.com/file/common/image/2025/04/28/分享图片_20250427145435A098.jpg" alt=""></div>
    <div class="nr-ocard-body">
      <h3>BAIC Group Unveils Seven New Models and Showcases Intelligent Innovation at Auto Shanghai 2025</h3>
      <p>April 23, 2025 Shanghai, China –– BAIC Group, one of China's leading automotive manufacturers, made a commanding appearance at the 21st Shanghai International Automobile Industry Exhibition</p>
      <div class="nr-ocard-meta"><span class="nr-ocard-date">2025-04-28</span><span class="read-more">Read More</span></div>
    </div>
  </a>

  <a class="nr-ocard" href="#">
    <div class="nr-ocard-img"><img src="https://www.baicglobal.com/file/common/image/2025/03/28/f0c65b0ede2e43f0cbb5cf85284ced0_20250324175701A103.jpg" alt=""></div>
    <div class="nr-ocard-body">
      <h3>BAIC INVESTS RMB 100 BILLION IN NEW VEHICLE DEVELOPMENT, DEMONSTRATING STRATEGIC AMBITION IN NEW ENERGY AND INTELLIGENT TECHNOLOGY</h3>
      <p>According to BAIC's R&D roadmap, the company will invest over RMB 100 billion by 2030 to position its core technologies among industry leaders.</p>
      <div class="nr-ocard-meta"><span class="nr-ocard-date">2025-03-28</span><span class="read-more">Read More</span></div>
    </div>
  </a>

  <a class="nr-ocard" href="#">
    <div class="nr-ocard-img"><img src="https://www.baicglobal.com/file/common/image/2025/03/13/1 (1)_20250313181517A048.jpg" alt=""></div>
    <div class="nr-ocard-body">
      <h3>BAIC SECURES MULTIPLE INTERNATIONAL AWARDS, GAINING FURTHER RECOGNITION OVERSEAS</h3>
      <p>Looking back, BAIC has shown steady growth in overseas markets, with models like the BJ40, BJ30, and X55 receiving numerous awards both domestically and internationally.</p>
      <div class="nr-ocard-meta"><span class="nr-ocard-date">2025-03-13</span><span class="read-more">Read More</span></div>
    </div>
  </a>

  <a class="nr-ocard" href="#">
    <div class="nr-ocard-img"><img src="https://www.baicglobal.com/file/common/image/2025/01/15/2e660c7c19175ab77c96044daf143a8 (6)_20250115162345A867.jpg" alt=""></div>
    <div class="nr-ocard-body">
      <h3>TALK with BAIC Chief Design Officer</h3>
      <p>In October this year, the globally renowned top automotive designer Anthony Lo officially joined the BAIC Design Team as the Global Design VP and Chief Design Officer. What has he experienced in the past two months of work?</p>
      <div class="nr-ocard-meta"><span class="nr-ocard-date">2024-12-23</span><span class="read-more">Read More</span></div>
    </div>
  </a>

  <a class="nr-ocard" href="#">
    <div class="nr-ocard-img"><img src="https://www.baicglobal.com/file/common/image/2024/11/12/dacebc825f5342d5231fbd88336d3ed_20241112150415A324.png" alt=""></div>
    <div class="nr-ocard-body">
      <h3>THE BJ30 HAS BEEN APPOINTED AS THE OFFICIAL DESIGNATED SUPPORT VEHICLE FOR THE 2024 GULF CUP FOOTBALL CHAMPIONSHIP.</h3>
      <p>2024 Gulf Cup football tournament draw ceremony held in Kuwait</p>
      <div class="nr-ocard-meta"><span class="nr-ocard-date">2024-11-19</span><span class="read-more">Read More</span></div>
    </div>
  </a>

  <a class="nr-ocard" href="#">
    <div class="nr-ocard-img"><img src="https://www.baicglobal.com/file/common/image/2024/10/25/c02ddac4f9c4670cfd5f90e3a4a427c_20241025113750A171.jpg" alt=""></div>
    <div class="nr-ocard-body">
      <h3>Anthony Lo - Outstanding Chinese Designer of the World - officially joins BAIC Group.</h3>
      <p>Mr. Anthony Lo, renowned as a top-class automotive designer in the world, officially joined BAIC Design and took the position of Chief Design Officer and Vice President of Global Design, BAIC Group in October 2024.</p>
      <div class="nr-ocard-meta"><span class="nr-ocard-date">2024-10-25</span><span class="read-more">Read More</span></div>
    </div>
  </a>

  <a class="nr-ocard" href="#">
    <div class="nr-ocard-img"><img src="https://www.baicglobal.com/file/common/image/2024/09/29/e5f1222360c391f787d67c9f7acee49_20240929174742A001.png" alt=""></div>
    <div class="nr-ocard-body">
      <h3>Artistic Symphony of Color and Material: A Dialogue with BAIC's CMF Designer Lin Lvjun</h3>
      <p>It not only concerns the aesthetic presentation of vehicles, but also embodies a perfect integration of technology and art.</p>
      <div class="nr-ocard-meta"><span class="nr-ocard-date">2024-09-29</span><span class="read-more">Read More</span></div>
    </div>
  </a>

  <a class="nr-ocard" href="#">
    <div class="nr-ocard-img"><img src="https://www.baicglobal.com/file/common/image/2024/08/13/ccafa0875504809a3a6cf03f9dd43a9_20240813102837A355.jpg" alt=""></div>
    <div class="nr-ocard-body">
      <h3>BAIC wins The 12th Topdigital Innovative Marketing Award for AR on Snapchat</h3>
      <p>BAIC has been awarded at the 12th Topdigital Innovative Marketing Awards. This accolade recognizes BAIC's innovative practices in utilizing AR on Snapchat.</p>
      <div class="nr-ocard-meta"><span class="nr-ocard-date">2024-08-31</span><span class="read-more">Read More</span></div>
    </div>
  </a>

</div>

<!-- PAGINATION -->
<div class="nr-pagination">
  <span class="active">1</span>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">...</a>
  <a href="#">10</a>
</div>

@section Scripts {
}
