<div class="cookie-banner" id="cookieBanner">
  <div class="cookie-text"><h4>Your Privacy</h4><p>When accessing our website, we use cookies to ensure an optimal browsing experience for you. The use of cookies on this website may involve the collection of information pertaining to you, including your preferences and device details. This information typically does not directly identify you, but it can provide you a more tailored and personalized web browsing experience. Because we respect your right to privacy, we provide the option to decline certain types of cookies. However, please be aware that disabling certain cookies may affect your browsing experience on our website and limit the services we can provide.</p></div>
  <div class="cookie-btns">
    <button class="ck-btn ck-necessary">Accept only necessary</button>
    <button class="ck-btn ck-settings">Settings</button>
    <button class="ck-btn ck-accept">Accept all</button>
  </div>
</div>
