<footer class="footer">
<div class="footer-inner">
  <div class="footer-cols">
    <div class="footer-col">
      <h4 data-i18n="nav.models">Models</h4>
      <ul>
        <li><a asp-controller="Models" asp-action="BJ30">BJ30</a></li>
        <li><a asp-controller="Models" asp-action="BJ40Plus">BJ40 PLUS</a></li>
        <li><a asp-controller="Models" asp-action="BJ40PlusRHD">BJ40 PRO</a></li>
        <li><a href="#">BJ40 SE</a></li>
        <li><a asp-controller="Models" asp-action="BJ60">BJ60</a></li>
        <li><a asp-controller="Models" asp-action="BJ80">BJ80</a></li>
        <li><a asp-controller="Models" asp-action="EU5">EU5</a></li>
        <li><a asp-controller="Models" asp-action="U5Plus">U5 PLUS</a></li>
        <li><a href="#">F40</a></li>
        <li><a asp-controller="Models" asp-action="X35">X35</a></li>
        <li><a asp-controller="Models" asp-action="X55II">X55 II</a></li>
        <li><a asp-controller="Models" asp-action="AllNewX7">ALL NEW X7</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4 data-i18n="nav.innovation">Innovation</h4>
      <ul>
        <li><a asp-controller="Innovation" asp-action="CapitalBeauty" data-i18n="nav.capitalBeauty">Capital Beauty</a></li>
        <li><a asp-controller="Innovation" asp-action="ConceptCar" data-i18n="nav.conceptCar">Concept Car</a></li>
        <li><a asp-controller="Innovation" asp-action="OffRoad" data-i18n="nav.offRoad">Off Road</a></li>
        <li><a asp-controller="Innovation" asp-action="Power" data-i18n="nav.power">Power</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4 data-i18n="nav.about">About</h4>
      <ul>
        <li><a asp-controller="About" asp-action="Index" data-i18n="nav.aboutUs">About Us</a></li>
        <li><a asp-controller="About" asp-action="History" data-i18n="nav.history">History</a></li>
        <li><a asp-controller="About" asp-action="ESG">ESG</a></li>
        <li><a asp-controller="About" asp-action="AfterSale" data-i18n="nav.afterSale">After-sales Service</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4 data-i18n="nav.newsroom">Newsroom</h4>
      <ul>
        <li><a asp-controller="News" asp-action="NewsRelease" data-i18n="nav.newsRelease">News Release</a></li>
        <li><a asp-controller="News" asp-action="Subscribe" data-i18n="nav.subscribe">Subscribe</a></li>
        <li><a asp-controller="News" asp-action="MediaContact" data-i18n="nav.mediaContact">Media Contact</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4 data-i18n="nav.connect">Connect</h4>
      <ul>
        <li><a asp-controller="Connect" asp-action="ContactUs" data-i18n="nav.contactUs">Contact Us</a></li>
        <li><a href="#" data-i18n="nav.distributorCenter">Distributor Center</a></li>
        <li><a asp-controller="News" asp-action="DownloadCenter" data-i18n="nav.downloadCenter">Download Center</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-brands"><a asp-controller="Home" asp-action="Index">BAIC</a><a href="https://www.arcfox.com.cn/" target="_blank">ARCFOX</a></div>
  <div class="footer-more"><select><option data-i18n="footer.moreWebsites">More BAlC Websites</option><option>ARCFOX</option><option>BAIC CHINA</option><option>BAIC GROUP</option></select></div>
  <div class="footer-bottom"><div><a href="#" data-i18n="footer.privacy">Privacy Statement</a> &nbsp;|&nbsp; <a href="#" data-i18n="footer.cookie">Cookie Settings</a></div><span data-i18n="footer.copyright">Copyright@@2023 Beijing Automotive Group Co., Ltd.</span></div>
</div>
</footer>
