<footer class="footer">
<div class="footer-inner">
  <div class="footer-cols">
    <div class="footer-col">
      <h4>Models</h4>
      <ul>
        <li><a asp-controller="Models" asp-action="BJ30">BJ30</a></li>
        <li><a asp-controller="Models" asp-action="BJ40Plus">BJ40 PLUS</a></li>
        <li><a asp-controller="Models" asp-action="BJ40PlusRHD">BJ40 PLUS RHD</a></li>
        <li><a href="#">BJ40 SE</a></li>
        <li><a asp-controller="Models" asp-action="BJ60">BJ60</a></li>
        <li><a asp-controller="Models" asp-action="BJ80">BJ80</a></li>
        <li><a href="#">F40</a></li>
        <li><a href="#">X35</a></li>
        <li><a href="#">X55 II</a></li>
        <li><a href="#">ALL NEW X7</a></li>
        <li><a href="#">U5 PLUS</a></li>
        <li><a href="#">EU5</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Innovation</h4>
      <ul>
        <li><a asp-controller="Innovation" asp-action="CapitalBeauty">Capital Beauty</a></li>
        <li><a asp-controller="Innovation" asp-action="ConceptCar">Concept Car</a></li>
        <li><a asp-controller="Innovation" asp-action="OffRoad">Off Road</a></li>
        <li><a asp-controller="Innovation" asp-action="Power">Power</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>About</h4>
      <ul>
        <li><a asp-controller="About" asp-action="Index">About Us</a></li>
        <li><a asp-controller="About" asp-action="History">History</a></li>
        <li><a asp-controller="About" asp-action="ESG">ESG</a></li>
        <li><a asp-controller="About" asp-action="AfterSale">After-sales Service</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Newsroom</h4>
      <ul>
        <li><a asp-controller="News" asp-action="NewsRelease">News Release</a></li>
        <li><a asp-controller="News" asp-action="Subscribe">Subscribe</a></li>
        <li><a asp-controller="News" asp-action="MediaContact">Media Contact</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Connect</h4>
      <ul>
        <li><a asp-controller="Connect" asp-action="ContactUs">Contact Us</a></li>
        <li><a href="#">Distributor Center</a></li>
        <li><a asp-controller="News" asp-action="DownloadCenter">Download Center</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-brands"><a asp-controller="Home" asp-action="Index">BAIC</a><a href="https://www.arcfox.com.cn/" target="_blank">ARCFOX</a></div>
  <div class="footer-more"><select><option>More BAlC Websites</option><option>ARCFOX</option><option>BAIC CHINA</option><option>BAIC GROUP</option></select></div>
  <div class="footer-bottom"><div><a href="#">Privacy Statement</a> &nbsp;|&nbsp; <a href="#">Cookie Settings</a></div><span>Copyright@@2023 Beijing Automotive Group Co., Ltd.</span></div>
</div>
</footer>
