/* ========== POWER (Research Development) ========== */

.rd-images{padding-top:64px}
.rd-images img{width:100%;display:block}
.rd-video{width:100%;position:relative;background:#000}
.rd-video video{width:100%;display:block}
