@{
    ViewData["Title"] = "Power";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/power.css" asp-append-version="true" />
}

<!-- PAGE: Stacked infographic images 01-12, video, 13-17 -->
<main class="rd-images">
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_01.jpg" alt="BAIC Research Development"></div>
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_02.jpg" alt="BAIC Research Development"></div>
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_03.jpg" alt="BAIC Research Development"></div>
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_04.jpg" alt="BAIC Research Development"></div>
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_05.jpg" alt="BAIC Research Development"></div>
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_06.jpg" alt="BAIC Research Development"></div>
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_07.jpg" alt="BAIC Research Development"></div>
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_08.jpg" alt="BAIC Research Development"></div>
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_09.jpg" alt="BAIC Research Development"></div>
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_10.jpg" alt="BAIC Research Development"></div>
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_11.jpg" alt="BAIC Research Development"></div>
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_12.jpg" alt="BAIC Research Development"></div>

  <!-- Video between 12 and 13 -->
  <div class="rd-video fade-in">
    <video autoplay muted loop playsinline>
      <source src="https://www.baicglobal.com/file/public/static/mov/research.webm" type="video/webm">
    </video>
  </div>

  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_13.jpg" alt="BAIC Research Development"></div>
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_14.jpg" alt="BAIC Research Development"></div>
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_15.jpg" alt="BAIC Research Development"></div>
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_16.jpg" alt="BAIC Research Development"></div>
  <div class="fade-in"><img src="https://www.baicglobal.com/file/public/static/research-development/en/researchWap_17.jpg" alt="BAIC Research Development"></div>
</main>

@section Scripts {
}
